@model Dictionary<string, string>

@for (int i = 0; i < Model.Count; i++)
{
    <li>
        <div class="frame1">
            <div class="box">
                <img src="" alt="Img" height="130" width="197">
            </div>
        </div>
        <p>
            <b>Our lawyers</b> Our website templates are created with inspiration, checked for quality and originality.
        </p>
        <a href="index.html" class="more">Read More</a>
    </li>
}